@import url(/res/stylesheets/animations.css);
@import url(/res/stylesheets/custom_basic_elements.css);
@import url(/res/stylesheets/colors.css);
@import url(/res/stylesheets/fonts.css);


/* * {
    outline: red solid;
} */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-0);
    color: var(--font-0);
    
    font-size: 1.5rem;
    font-family: "Karla";
    
    margin: 0;
}

/* Sidebar Styles START */
.sidebar {
    background-color: var(--bg-1);

    font-family: "Playwrite IE";
    font-weight: bold;

    height: calc(100% - 2rem);
    width: 18%;
    min-width: fit-content;

    margin: 1rem;
    padding: 0 1rem;

    border-radius: 2rem;

    position: fixed;

    box-shadow:
    var(--accent-0)  4px 0,
    var(--bg-0)      8px 0,
    var(--accent-1) 12px 0,
    var(--bg-0)     16px 0,
    var(--accent-2) 20px 0,
    var(--bg-0)     24px 0,
    var(--accent-3) 28px 0,
    var(--bg-0)     32px 0,
    var(--accent-4) 36px 0,
    var(--bg-0)     40px 0,
    var(--accent-5) 44px 0;
}

.avatar-box {
    display: flex;
    justify-content: center;

    margin: 4rem 0;
}

.avatar-box img {
    width: 10rem;
    height: 10rem;

    border-radius: 100%;
}

.index ul a li {
    width: auto;

    margin: 1rem 0;
    padding: 0.5rem;

    border-radius: 1rem;

    background: linear-gradient(var(--font-0), var(--font-0));
    background-size: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s;
}

.index ul a li:hover, .index ul li:active {
    background-size: 100%;
    color: black;
}
/* Sidebar Styles END */

/* Content Styles START */
.content {
    margin-left: calc(18% + 5rem + 44px);
    padding: 0;
    scroll-snap-type: both proximity;
}
/* Content Styles END */

.page {
    scroll-snap-align: start;
    min-height: 100vh;
    width: 100%;
}