@import url(/res/stylesheets/animations.css);
@import url(/res/stylesheets/custom_basic_elements.css);
@import url(/res/stylesheets/colors.css);
@import url(/res/stylesheets/fonts.css);


/* * {
    outline: red solid;
} */

body {
    background-color: var(--bg-0);
    color: var(--font-0);
    
    font-size: 1.5rem;
    font-family: "Karla";

    margin: 0;
}

/* Sidebar Styles START */
.sidebar {
    background-color: var(--bg-1);

    font-family: "Playwrite IE";
    font-weight: bold;

    height: calc(100% - 2rem);
    width: 18%;
    min-width: fit-content;

    margin: 1rem;
    padding: 0 1rem;

    border-radius: 2rem;

    position: fixed;

    animation: backInLeftAndShadowExpand 0.7s;

    box-shadow: var(--elegant-shadow);
}

.avatar-box {
    display: flex;
    justify-content: center;

    margin: 4rem 0;
}

.avatar-box img {
    width: 10rem;
    height: 10rem;

    animation: spin 15s linear infinite;

    border-radius: 100%;
}

.index ul a li {
    width: auto;

    margin: 1rem 0;
    padding: 0.5rem;

    border-radius: 1rem;

    transition: 0.2s;
}

.index ul a:focus {
    outline: none;
}

.index ul a li:hover, .index ul a:focus li, .index ul a[in_view] li {
    background-color: var(--font-0);
    color: black;

    transform: translateY(-0.5rem);
    box-shadow: white 0 0.5rem;
}
/* Sidebar Styles END */

/* Content Styles START */
.content {
    margin-left: calc(18% + 5rem + 44px);
    padding: 0;
    
    height: 100vh;
    overflow: scroll;
    
    animation: fadeIn 0.7s;

    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

.page {
    scroll-snap-align: start;
    
    position: relative;

    
    min-height: 100vh;
    width: 100%;
}

#projects {
    height: 200vh;
}
/* Content Styles END */