@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+IE:wght@100..400&display=block');
/* 
@font-face {
    font-family: "Playwrite IE";
    src: url(/res/fonts/Playwrite-IE.woff2);
    font-display: block;
}

@font-face {
    font-family: "Open Sans";
    src: url(/res/fonts/OpenSans.woff2);
    font-display: block;
} */