@font-face {
    font-family: "Playwrite IE";
    src: url(./../../res/fonts/PlaywriteIE-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Karla";
    src: url(./../../res/fonts/Karla-VariableFont_wght.ttf);
}